{% extends "paginasweb/modelos/index.html" %}
{% load static %}
{% block header %}
<div class="text-center">
    <h1 class="display-6 fw-bolder mb-4">
        <span class="text-success d-inline">
            Históricos das Solicitações
        </span>
        <a href="{% url "cadastrar-historico" %}" class="mt-1 btn btn-outline-success float-lg-end">
            + Adicionar
        </a>
    </h1>
</div>
{% endblock header %}
{% block conteudo %}
<div>
    <table class="table table-striped">
        <tr>
            <th>Solicitação</th>
            <th>Status</th>
            <th>Gerado em</th>
            <th>Gerado por</th>
            <th>Opções</th>
        </tr>
        {% for object in object_list %}
        <tr>
            <td>#{{ object.solicitacao.pk }} - {{object.solicitacao.tipo_solicitacao}}</td>
            <td>{{ object.status.nome }}</td>
            <td>{{ object.gerado_em|date:"d/m/Y H:i" }}</td>
            <td>{{ object.gerado_por }}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-gear"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item link-danger" href="{% url "excluir-historico" object.pk %}">Excluir</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">Nenhum registro encontrado.</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock conteudo %}