{% extends "paginasweb/modelos/index.html" %}
{% load static %}
{% block header %}
<div class="text-center">
    <h1 class="display-6 fw-bolder mb-4">
        <span class="text-success d-inline">
            Solicitações protocoladas
        </span>
        <a href="{% url "cadastrar-solicitacao" %}" class="mt-1 btn btn-outline-success float-lg-end">
            + Adicionar
        </a>
    </h1>
</div>
{% endblock header %}
{% block conteudo %}
<div>

    <!-- fazer um form para um filtro com os campos "termo_busca" e data -->
    <form method="get" class="row g-3 mb-3">
        <div class="col-md-4">
            <input type="text" name="termo_busca" class="form-control" placeholder="Buscar..." value="{{ request.GET.termo_busca }}">
        </div>
        <!-- input date para solicitado_em -->
        <div class="col-md-4">
            <input type="date" name="data_solicitacao" class="form-control" placeholder="Data da Solicitação" value="{{ request.GET.data_solicitacao }}">
        </div>
        <div class="col-md-2">
            <button type="submit" class="btn btn-primary">Filtrar</button>
            <a href="{% url "listar-solicitacao" %}" class="btn btn-secondary">Limpar</a>
        </div>
    </form>

    <table class="table table-striped">
        <tr>
            <th>Solicitado por</th>
            <th>Curso</th>
            <th>Turma</th>
            <th>Tipo de Solicitação</th>
            <th>Data</th>
            <th>Opções</th>
        </tr>
        {% for object in object_list %}
        <tr>
            <td>{{ object.solicitado_por }}</td>
            <td>{{ object.curso.nome }}</td>
            <td>{{ object.turma }}</td>
            <td>{{ object.tipo_solicitacao.descricao }}</td>
            <td>{{ object.solicitado_em|date:"d/m/Y H:i" }}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-gear"></i>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item link-primary" href="{% url "editar-solicitacao" object.pk %}"><i class="bi bi-pencil-square"></i> Editar</a></li>
                        <li><a class="dropdown-item link-danger" href="{% url "excluir-solicitacao" object.pk %}"><i class="bi bi-trash"></i> Excluir</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">Nenhum registro encontrado.</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock conteudo %}