{% extends "paginasweb/modelos/index.html" %}
{% load static %}
{% block header %}
<div class="text-center">
    <h1 class="display-6 fw-bolder mb-4">
        <span class="text-success d-inline">
            Lista de Status
        </span>
        <a href="{% url "cadastrar-status" %}" class="btn btn-outline-success float-end">
            + Adicionar
        </a>
    </h1>

</div>
{% endblock header %}
{% block conteudo %}
<div>
    <table class="table table-striped">
        <tr>
            <th>Nome</th>
            <th>Ordem</th>
            <th>Pode editar</th>
            <th>Opções</th>
        </tr>
        {% for object in object_list %}
        <tr>
            <td>{{ object.nome }}</td>
            <td>{{ object.ordem }}</td>
            <td>{{ object.pode_editar }}</td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Opções
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item link-primary" href="{% url "editar-status" object.pk %}">Editar</a></li>
                        <li><a class="dropdown-item link-danger" href="{% url "excluir-status" object.pk %}">Excluir</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Nenhum registro encontrado.</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock conteudo %}