{% extends "paginasweb/modelos/index.html" %}

{% load crispy_forms_tags %}
{% load static %}

{% block header %}
<div class="text-center">
    <h1 class="display-6 fw-bolder mb-4">
        <span class="text-success d-inline">
            {{ titulo }}
        </span>
    </h1>
</div>
{% endblock header %}


{% block conteudo %}

<style>
    form {
        font-size: 120%;
    }
</style>

<div class="row justify-content-center">

    <div class="col-lg-6">

        
        <form action="" method="post">
            
            {% csrf_token %}
            
            {{ form|crispy }}

            <h3 class="text-center">Dejesa excluir o registro abaixo?</h3>
            
            <br>

            <h4 class="text-center border border-danger text-danger p-2 rounded">
                {{ object }}
            </h4>

            <br>

            <p class="text-center">

                <button type="submit" class="btn btn-danger m-2">
                    Excluir
                </button>
                <!-- Botão de voltar pelo histórico do js -->
                <button type="button" class="btn btn-outline-dark m-2" onclick="history.back()">
                    Voltar
                </button>
            </p>
            
        </form>
        
    </div>
</div>

{% endblock conteudo %}
