{% extends "paginasweb/modelos/index.html" %}

{% load static %}

{% block header %}
<div class="text-center">
    <div class="fs-3 fw-light text-muted">Veja abaixo as formas de contato</div>
    <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">Precisa de ajuda?</span></h1>
</div>
{% endblock header %}


{% block conteudo %}

<h2 class=" fw-bolder"><span class="text-gradient d-inline">E-mail</span></h2>
<p class="lead fw-light mb-4">Você pode entrar em contato conosco por e-mail: <a href="mailto:rafael.zottesso@ifpr.edu.br">rafael.zottesso@ifpr.edu.br</a></p>

<h2 class=" fw-bolder"><span class="text-gradient d-inline">Secretaria</span></h2>
<p class="lead fw-light mb-4">Funcionamento: das 08h00 às 21h00</p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4354.733311058024!2d-52.456900823929125!3d-23.054255943159454!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x949296a233a74981%3A0x8aed8519780a4c71!2sIFPR%20-%20Instituto%20Federal%20do%20Paran%C3%A1%20-%20Campus%20Paranava%C3%AD!5e1!3m2!1spt-BR!2sbr!4v1747340488171!5m2!1spt-BR!2sbr" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>




{% endblock conteudo %}
