{% extends "paginasweb/modelos/index.html" %}

{% load static %}


{% block conteudo %}

<d class="row">

    <div class="col-lg-6">
        <div class="text-center my-3">
            <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">About Me</span></h2>
            <p class="lead fw-light mb-4">My name is Start Bootstrap and I help brands grow.</p>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit dolorum itaque qui unde quisquam consequatur autem. Eveniet quasi nobis aliquid cumque officiis sed rem iure ipsa! Praesentium ratione atque dolorem?</p>
            <div class="d-flex justify-content-center fs-2 gap-4">
                
            </div>
        </div>
    </div>

    <div class="col-lg-6 text-center">
        <img src="{% static 'img/protocolo.png' %}" class="img-fluid" style="max-width: 250px" alt="">
    </div>

</d>
{% endblock conteudo %}