{% extends "paginasweb/modelos/index.html" %}

{% load static %}

{% block conteudo %}
<h1>Sobre nós</h1>

<p>
    bl alajsdijsa d hsalkjd hsad hsadlkjhsa dlkjsa hdlkjsa gdsadsajhd kjsah gdkjsah gkjhsad gsakjhd gsakjhd gsadkjh gsajh gsadlkj gdsabl alajsdijsa d hsalkjd hsad hsadlkjhsa dlkjsa hdlkjsa gdsadsajhd kjsah gdkjsah gkjhsad gsakjhd gsakjhd gsadkjh gsajh gsadlkj gdsabl alajsdijsa d hsalkjd hsad hsadlkjhsa dlkjsa hdlkjsa gdsadsajhd kjsah gdkjsah gkjhsad gsakjhd gsakjhd gsadkjh gsajh gsadlkj gdsa
</p>
{% endblock conteudo %}

{% block rodape %}
<div class="col-auto">
    <div class="small m-0">Desenvolvido por Rafael Zottesso</div>
</div>
{% endblock rodape %}